html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', Helvetica Neue, Segoe UI, trebuchet MS, Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    line-height: 1.618;
    background-color: #EDF7F2;
    color: #333;
}

html {
    font-size: 15px;
}

a {
    color: #F38630;
    cursor: pointer;
    text-decoration: none;
}

.font-small {
    font-size: 13px;
}

.font-normal {

}

.font-large {
    font-size: 18px;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.list-unstyled, .content-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#loading {
    background-image: url('../img/loading.gif');
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    z-index: 100px;
    height: 31px;
    width: 31px;
}

.header-container {
    font-weight: 200;
    font-size: 16px;
    color: #FFF;
}

.header-container .header {
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
}

.header-container .button {
    /*background-color: rgba(255, 255, 255, 0.6);*/
    margin: 5px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-transform: lowercase;
    color: #FFF;
    background-color: rgba(255, 255 ,255, 0.2);
    border-radius: 3px;
}

.header-container .left {
    position: absolute;
    top: 0;
    left: 0;
}

.header-container .right {
    position: absolute;
    top: 0;
    right: 0;
}

.header-container .menu {
    position: absolute;
    width: 40%;
    top: 55px;
    left: 5px;
    background-color: #4BB5C1;
    border-radius: 3px;
    z-index: 100;

    -webkit-transition: visibility 400ms ease, opacity 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}

.header-container .menu ul a li {
    padding: 10px 10px;
    color: #fff;
    border-bottom: 1px solid #7FC6BC;
}

.content-container {
    padding: 5px;
}

.login {
    display: block;
    width: 100%;
}

.login input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 3px;
    border: 0px solid #cccccc;

    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.login button {
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 3px;
    padding-left: 0;
    padding-right: 0;
    border: 0px solid #cccccc;
    font-weight: 100;
    color: #fff;
    background-color: #4BB5C1;
}






.pages-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pages-container .page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    opacity: 1;
    z-index: 1;
    background-color: #EDF7F2;

    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);

    -webkit-transition: -webkit-transform 400ms ease, opacity 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}

.pages-container .page-blank {
    left: 360px;
    background-color: #7FC6BC;
}

.pages-container .page-home {
    display: block;
    width: 100%;

    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.pages-container .show-page {
    z-index: 5;
    opacity: 1;
    
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pages-container .header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #4BB5C1;
}

.pages-container .header-container  .header {
    text-align: center;
    line-height: 50px;
}

.pages-container .content-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width : 768px) {
    .pages-container .page {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .pages-container .page-home {
        width: 360px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .android-chrome .pages-container .page-home {
        display: block;
    }

    .pages-container .page-about,
    .pages-container .page-settings,
    .pages-container .page-performance,
    .pages-container .page-article-comments,
    .pages-container .page-article-content {
        left: 360px;
    }
}
