<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
      <title>Bojap Web App</title>
      <meta name="fragment" content="!">
      <meta name="description" content="">
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="360">
      <meta http-equiv="cleartype" content="on">
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="apple-touch-fullscreen" content="yes"/>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

      <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600"/> -->
      <link rel="stylesheet" href="./css/normalize.css">
      <link rel="stylesheet" href="./css/bootstrap.min.css">
      <link rel="stylesheet" href="./css/main.css">
      <!-- // <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->

      <script src="./js/vendor/angular.min.js"></script>
  </head>
  <body ng-app="bojap">
    <div class="pages-container" data-ng-controller="MainCtrl">
      <!-- Left -->
      <div class="page page-home show-page">
        <!-- Header -->
        <div class="header-container">
          <a class="button float-left">Menu</a>
          <header class="header">
            Bojap
          </header>
        </div>

        <!-- Content -->
        <div class="content-container">
          <div data-ng-include src="template"></div>
        </div>
      </div>

      <!-- Right -->
      <div class="page page-article-content">
        <!-- Header -->
        <div class="header-container">
          <a class="button float-left" href='/#!/'>back</a>
          <!-- <a class="button float-right" onclick="$('.page-article-content').toggleClass('show-page'); $('.page-article-comments').toggleClass('show-page');">comments</a> -->
          <header class="header">
            <span>Content</span>
          </header>
        </div>

        <!-- Content -->
        <div ng-view></div>
      </div>

      <div class="page page-article-comments"></div>

      <div class="page page-blank"></div>
    </div>
    
    <script src="./js/vendor/zepto.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/ng.js"></script>

    <script type="text/ng-template" id="students.html">
      <ul class="content-items" data-ng-controller="StudentCtrl">
        <li data-ng-repeat="item in items" student-item="item"></li>
      </ul>
    </script>

    <script type="text/ng-template" id="tutors.html">
      <ul class="content-items" data-ng-controller="TutorCtrl">
        <li data-ng-repeat="item in items" tutor-item="item"></li>
      </ul>
    </script>

    <script type="text/ng-template" id="profile.html">
      <div class="content-container">
        <h3 data-ng-bind="item._creator.fullname"></h3>
        <a data-ng-href="#!/user/{{item._creator.username}}" data-ng-bind="item._creator.fullname"></a>
        <hr>
        <span data-ng-repeat="comment in item.comments"><span ng-bind-html-unsafe="comment.content"></span></span>
        <hr>
        <span data-ng-bind="item | json"></span>
      </div>
    </script>

    <script type="text/ng-template" id="user.html">
      <div class="content-container">
        <h3 data-ng-bind="item.fullname"></h3>
        <span data-ng-bind="item.username"></span><br>
        <hr>
        <span data-ng-bind="item | json"></span>
      </div>
    </script>

    <script type="text/ng-template" id="settings.html">
      <div class="content-container">
        <3
      </div>
    </script>

    <script type="text/ng-template" id="404.html">
      <div class="content-container">
        404 Something went wrong!
      </div>
    </script>
  </body>
</html>

